<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post_ahrchive_year</title>
</head>
<body>
    <h1>Post Archives for {{ day|date:"N d, Y" }}</h1> <!-- year컨텍스트 변수는 해당 연도에 대한 datetime.date타입의 객체-->

    <div>
        <ul>
            {% for post in object_list %}
            <li>{{ post.modify_dt|date:"Y-m-d" }}&nbsp;&nbsp;
            <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
            </li>
            {% endfor %}
        </ul>
    </div>


</body>
</html>