<!-- base.html 템플릿 상속받음-->
{% extends 'base.html' %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}
<style>
    .home-image{
        background-image: url("{% static 'img/pizzamain.png' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        height: 500px;
        border-top: 10px solid;
        border-bottom: 10px solid;
        padding: 20px 0 0 20px;
    }
    .title{
        color: #c80;
        font-weight: bold;
    }
    .powered{
        position: relative;
        top: 77%;
        color: #cc0;
        font-style: italic;
    }
</style>
{% endblock %}

{% block content %}
<div class="home-image">
    <h2 class="title">han jeongseo-Django Web Project</h2>
    <h4 class="powered"><i class="fas fa-arrow-circle-right"></i>django and bootstrap</h4>
</div>
<hr style="margin: 10px 0;">

<div class="row text-center">
    <div class="col-sm-6">
        <h3>Bookmark App</h3>
        <p>
            This is Bookmark App
            Thank you.
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Blog App</h3>
        <p>
            This is Blog App
            Thank you.
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="fixed-bottom bg-info">
    <div class="text-white fornt-italic text-right mr-5">Copyright &copy; 2020 DjangoProject by HanJeonseo</div>
</footer>
{% endblock %}


